<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON628-01 
### Midterm - Take Home



---
#### Guidelines 
- This is your notebook for your take home midterm. 
- This part of your midterm, as you might expect, is **more challenging** so I highly recommend you to work ASAP. 

- You are required to submit your answers using this notebook (do not push or submit PDFs, Word docs, etc, cause your answers will be considered invalid = **0%**).
- The take home is **15%** of your total midterm score.
- You can work in groups of no more than **3** students.
- Your code **should not be the same** as the rest of your classmates we will check (trust me on this!!), if your code is the same as any of your classmate **your grade will be penalized.**
- The take home is due on **March 20** before class/exam (if you are taking the in-class exam before the rest of the class, you **need** to push your take home part before you commence with the in-class exam) = **NO EXCUSES !!**
- Use this [link][1] to **submit/include** the GitHub link to your take home exam.
[1]: https://docs.google.com/forms/d/e/1FAIpQLSfLkZJY80tw303ss8Ga_2sUMVgumAppWb4tYwssGTbr879_Mw/viewform "link"
- If you find a piece of code online (from someone else), and you decide to use in your midterm, you need:
    - Cite the website from where you are getting the code.
    - **Explain on your "own words" what the code is doing.**
    - If you fail to do this, your grade will be **penalized.**
- Finally, you don't need to create a model
---

#### The data

The state of Iowa provides many data sets on their website, we will be using a dataset which contains transactions for all stores that have a class E liquor license. 

The data , data dictionary can be found [directly on their website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy).

**However,** since many of you may have had computer issues reading medium size datasets, **everyone** needs to use the 10% dataset version of Iowa liquor sales, located in your dataset folder. 

---

#### Package imports

In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd
import seaborn as sns

import matplotlib
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

plt.style.use('fivethirtyeight')

## 1. Load the data from file

---

Creating a data path and loading the data

In [2]:
iowa_path = '/Users/zerindong/Desktop/ECON628-01-zerin5577/datasets/iowa_liquor/Iowa_Liquor_sales_sample_10pct.csv'

iowa = pd.read_csv(iowa_path)

iowa.head(5)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,11/04/2015,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,$4.50,$6.75,12,$81.00,9.0,2.38
1,03/02/2016,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,$13.75,$20.63,2,$41.26,1.5,0.40
2,02/11/2016,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,$12.59,$18.89,24,$453.36,24.0,6.34
3,02/03/2016,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,$9.50,$14.25,6,$85.50,10.5,2.77
4,08/18/2015,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,$7.20,$10.80,12,$129.60,21.0,5.55

## 2. Do an initial overview of the data

---

At the very least describe the columns/variables and the datatypes.

In [3]:
iowa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                     270955 non-null object
Store Number             270955 non-null int64
City                     270955 non-null object
Zip Code                 270955 non-null object
County Number            269878 non-null float64
County                   269878 non-null object
Category                 270887 non-null float64
Category Name            270323 non-null object
Vendor Number            270955 non-null int64
Item Number              270955 non-null int64
Item Description         270955 non-null object
Bottle Volume (ml)       270955 non-null int64
State Bottle Cost        270955 non-null object
State Bottle Retail      270955 non-null object
Bottles Sold             270955 non-null int64
Sale (Dollars)           270955 non-null object
Volume Sold (Liters)     270955 non-null float64
Volume Sold (Gallons)    270955 non-null float64
dtypes: float64(4), int64(5), object(9)
memory usage: 37.2+ MB

In [4]:
### check how many rows and columns
iowa.shape

(270955, 18)


## 3. Clean the dataset

---

### 3.1 Identify columns that you will need to convert and clean. Where and how is the data corrupted?

Don't worry about converting the date column to a pandas/numpy "datetime" datatype, unless you want to (not required for these problems and is a challenging thing to work with in its own right.)

In [5]:
### count nulls
iowa.isnull().sum()

Date                        0
Store Number                0
City                        0
Zip Code                    0
County Number            1077
County                   1077
Category                   68
Category Name             632
Vendor Number               0
Item Number                 0
Item Description            0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
dtype: int64

From the table above we can see that there are some missing columns: in the variables "County Number", "County", "Category", and "Category Name".

In [6]:
### rename the variables
iowa.rename(columns= {
        'County Number':'county_number',
        'Zip Code':'zipcode',
        'County Number':'county_number',
        'Store Number':'store_number',
        'Category Name':'category_name',
        'Vendor Number':'vendor_number',
        'Item Number':'item_number',
        'Item Description':'item_description',
        'Bottle Volume (ml)': 'bottle_volume_ml',
        'State Bottle Cost':'state_bottle_cost',
        'State Bottle Retail':'state_bottle_retail',
        'Bottles Sold':'bottles_sold',
        'Sale (Dollars)':'sale_dollars',
        'Volume Sold (Liters)':'volume_sold_liters',
        'Volume Sold (Gallons)':'volume_sold_gallons',
        
    },inplace=True)

In [7]:
iowa.loc[iowa['county_number'].isnull()].T

,135,198,272,290,321,863,964,982,1024,1630,...,268504,269000,269080,269414,269449,269482,269715,269982,270031,270083
Date,01/20/2016,03/02/2016,03/21/2016,03/21/2016,02/23/2016,01/11/2016,05/19/2015,03/30/2016,03/23/2016,02/10/2016,...,02/23/2016,01/25/2016,03/22/2016,03/16/2016,03/23/2016,03/01/2016,03/16/2016,02/22/2016,05/12/2015,03/21/2016
store_number,5222,3820,4222,5236,4203,2460,4247,5222,3820,5224,...,4247,2460,5230,4169,2637,5210,2637,2460,4247,5236
City,CEDAR RAPIDS,SIOUX CITY,EVANSDALE,ANAMOSA,WAVERLY,HAMPTON,BELMOND,CEDAR RAPIDS,SIOUX CITY,CORALVILLE,...,BELMOND,HAMPTON,CEDAR RAPIDS,DES MOINES,DAVENPORT,CLARINDA,DAVENPORT,HAMPTON,BELMOND,ANAMOSA
zipcode,52402,51103,50707,52205,50677,50441,50421,52402,51103,52241,...,50421,50441,52402,50317,52804,51632,52804,50441,50421,52205
county_number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,1.05101e+06,1.03208e+06,1.0623e+06,1.0816e+06,1.0511e+06,1.0112e+06,1.0121e+06,1.03108e+06,1.08139e+06,1.06231e+06,...,1.06231e+06,1.03108e+06,1.7011e+06,1.0312e+06,1.0113e+06,1.01221e+06,1.0812e+06,1.0816e+06,1.08139e+06,1.05201e+06
category_name,AMERICAN GRAPE BRANDIES,IMPORTED VODKA,FLAVORED RUM,WHISKEY LIQUEUR,APRICOT BRANDIES,STRAIGHT BOURBON WHISKIES,CANADIAN WHISKIES,VODKA 80 PROOF,IMPORTED SCHNAPPS,SPICED RUM,...,SPICED RUM,VODKA 80 PROOF,DECANTERS & SPECIALTY PACKAGES,VODKA FLAVORED,TENNESSEE WHISKIES,SINGLE MALT SCOTCH,CREAM LIQUEURS,WHISKEY LIQUEUR,IMPORTED SCHNAPPS,IMPORTED GRAPE BRANDIES
vendor_number,115,35,370,421,434,461,55,300,421,260,...,260,260,65,205,85,260,962,259,421,420
item_number,53214,34359,42716,64868,55084,77776,12408,36904,69637,43337,...,43418,37418,36409,40289,26585,5696,80143,86626,69667,48164
item_description,Paul Masson Grande Amber Brandy,Grey Goose Vodka,Malibu Coconut Rum,Fireball Cinnamon Whiskey,Paramount Blackberry Brandy,Wild Turkey American Honey,Canadian Ltd Whisky,Mccormick Vodka Pet,Dr. Mcgillicuddy's Cherry Schnapps,Captain Morgan Spiced Rum,...,Captain Morgan Tattoo,Popov Vodka 80 Prf,Effen Football Sleeve,New Amsterdam Coconut,Gentleman Jack,Oban Single Malt Scotch,Forbidden Secret Dark Mocha,Cold Spell Mint,Dr. Mcgillicuddy's Vanilla,Hennessy VSOP Privilege
bottle_volume_ml,375,200,750,1750,375,750,1750,375,1000,1000,...,750,1750,750,750,375,750,750,750,1000,750
state_bottle_cost,$3.22,$5.00,$7.49,$15.33,$3.55,$10.50,$9.14,$1.80,$11.00,$11.75,...,$9.00,$8.50,$18.89,$6.90,$6.55,$40.50,$11.79,$7.47,$11.00,$29.99
state_bottle_retail,$4.83,$7.50,$11.24,$23.00,$5.33,$15.75,$13.71,$2.70,$16.50,$17.63,...,$13.50,$12.75,$28.34,$10.35,$9.83,$60.75,$17.69,$11.21,$16.50,$44.99
bottles_sold,24,12,3,6,24,3,6,24,24,12,...,2,6,1,2,2,1,6,2,1,1
sale_dollars,$115.92,$90.00,$33.72,$138.00,$127.92,$47.25,$82.26,$64.80,$396.00,$211.56,...,$27.00,$76.50,$28.34,$20.70,$19.66,$60.75,$106.14,$22.42,$16.50,$44.99
volume_sold_liters,9,2.4,2.25,10.5,9,2.25,10.5,9,24,12,...,1.5,10.5,0.75,1.5,0.75,0.75,4.5,1.5,1,0.75
volume_sold_gallons,2.38,0.63,0.59,2.77,2.38,0.59,2.77,2.38,6.34,3.17,...,0.4,2.77,0.2,0.4,0.2,0.2,1.19,0.4,0.26,0.2

### 3.2 Clean the columns

For County Number and Category, I replaced the nulls with "0"-- "0" represents the unknown identifier.
For County and Category Name, I replaced the missing values with "unknown", since "County" and "Category Name" are string variables.

In [8]:
### replace the missing values
iowa.county_number = iowa.county_number.fillna(0)
iowa.Category = iowa.Category.fillna(0)
iowa.County = iowa.County.fillna('unkown')
iowa.category_name = iowa.category_name.fillna('unkown')

In [9]:
iowa.isnull().sum()

Date                   0
store_number           0
City                   0
zipcode                0
county_number          0
County                 0
Category               0
category_name          0
vendor_number          0
item_number            0
item_description       0
bottle_volume_ml       0
state_bottle_cost      0
state_bottle_retail    0
bottles_sold           0
sale_dollars           0
volume_sold_liters     0
volume_sold_gallons    0
dtype: int64

From the information table above, we can see the data type of variables "state_bottle_cost", "state_bottle_cost", "sale_dollars" are in "object". We need to delete the dollar signs and then covert them to "float". Recall the code from "full-analysis"

In [10]:
iowa['sale_dollars'] = iowa['sale_dollars'].str.replace('$','')
iowa.sale_dollars = iowa.sale_dollars.convert_objects(convert_numeric=True)

iowa['state_bottle_cost'] = iowa['state_bottle_cost'].str.replace('$','')
iowa.state_bottle_cost= iowa.state_bottle_cost.convert_objects(convert_numeric=True)

iowa['state_bottle_retail'] = iowa['state_bottle_retail'].str.replace('$','')
iowa.state_bottle_retail= iowa.state_bottle_retail.convert_objects(convert_numeric=True)

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  from ipykernel import kernelapp as app
/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:5: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:8: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [11]:
iowa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                   270955 non-null object
store_number           270955 non-null int64
City                   270955 non-null object
zipcode                270955 non-null object
county_number          270955 non-null float64
County                 270955 non-null object
Category               270955 non-null float64
category_name          270955 non-null object
vendor_number          270955 non-null int64
item_number            270955 non-null int64
item_description       270955 non-null object
bottle_volume_ml       270955 non-null int64
state_bottle_cost      270955 non-null float64
state_bottle_retail    270955 non-null float64
bottles_sold           270955 non-null int64
sale_dollars           270955 non-null float64
volume_sold_liters     270955 non-null float64
volume_sold_gallons    270955 non-null float64
dtypes: float64(7), int64(5), object(6)
memory usage: 37.2+ MB

Now, "state_bottle_cost", "state_bottle_cost", "sale_dollars" are float.


### 3.3 Perform more extensive cleaning of the dataset

Cleaning of data can mean a lot more than just fixing strings and numbers in columns. There are often logical errors with data, useless or nonsensical categories, redundancy of information, outliers, and many more problems.

This dataset has problems beyond just fixing the types of columns. Keep in mind that some types of "data cleaning" is subjective: it's not always a cut-and-dry conversion of type or removal of null values. Subjectivity when dealing with data is just a fact of life when dealing with data. This isn't a kind of programming where things are just right or wrong.

I dropped the columns: "Zip Code", "Vendor Number", and "Volumn Sold (Litters)", since these variables are not helpful at all in this assignment.

In [12]:
iowa.drop(['zipcode','vendor_number','volume_sold_liters'
          ], axis=1, inplace=True)

In [13]:
iowa.isnull().sum()

Date                   0
store_number           0
City                   0
county_number          0
County                 0
Category               0
category_name          0
item_number            0
item_description       0
bottle_volume_ml       0
state_bottle_cost      0
state_bottle_retail    0
bottles_sold           0
sale_dollars           0
volume_sold_gallons    0
dtype: int64


## 4. Filter/adjust the store data

---

Some stores may have opened or closed in 2015. These stores will have incorrect yearly summary statistics since they were not open the full year. We need to filter them out or find another way to deal with the inconsistent numbers of months across stores.

It is up to you how you want to deal with this problem.

1. Investigate problematic stores.
2. Decide on an approach to deal with stores not open for the full 2015 year.
3. Implement your plan.
4. Briefly report on what you did and why.

In [14]:
### import datetime, seperate "Date" into "year" and "month", recall the code from my project 1.
import datetime
from datetime import date
iowa['Date'] = pd.to_datetime(iowa['Date'])
iowa['year'] = iowa['Date'].dt.year
iowa['month'] = iowa['Date'].dt.month

In [15]:
iowa

,Date,store_number,City,county_number,County,Category,category_name,item_number,item_description,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_gallons,year,month
0,2015-11-04,3717,SUMNER,9.0,Bremer,1051100.0,APRICOT BRANDIES,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,2.38,2015,11
1,2016-03-02,2614,DAVENPORT,82.0,Scott,1011100.0,BLENDED WHISKIES,27605,Tin Cup,750,13.75,20.63,2,41.26,0.40,2016,3
2,2016-02-11,2106,CEDAR FALLS,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,19067,Jim Beam,1000,12.59,18.89,24,453.36,6.34,2016,2
3,2016-02-03,2501,AMES,85.0,Story,1071100.0,AMERICAN COCKTAILS,59154,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,2.77,2016,2
4,2015-08-18,3654,BELMOND,99.0,Wright,1031080.0,VODKA 80 PROOF,35918,Five O'clock Vodka,1750,7.20,10.80,12,129.60,5.55,2015,8
5,2015-04-20,2569,CEDAR RAPIDS,57.0,Linn,1041100.0,AMERICAN DRY GINS,31473,New Amsterdam Gin,1750,13.32,19.98,6,119.88,2.77,2015,4
6,2015-08-05,2596,OTTUMWA,90.0,Wapello,1051010.0,AMERICAN GRAPE BRANDIES,52806,Korbel Brandy,750,6.66,9.99,3,29.97,0.59,2015,8
7,2015-06-25,3456,CLEAR LAKE,17.0,Cerro Gordo,1012100.0,CANADIAN WHISKIES,10628,Canadian Club Whisky,1750,15.75,23.63,2,47.26,0.92,2015,6
8,2016-01-04,4757,BONDURANT,77.0,Polk,1032080.0,IMPORTED VODKA,34006,Absolut Swedish Vodka 80 Prf,750,11.49,17.24,4,68.96,0.79,2016,1
9,2015-11-10,4346,SHELLSBURG,6.0,Benton,1081315.0,CINNAMON SCHNAPPS,82610,Dekuyper Hot Damn!,1000,7.62,11.43,2,22.86,0.53,2015,11
10,2015-09-28,2648,WEST DES MOINES,77.0,Polk,1011250.0,SINGLE BARREL BOURBON WHISKIES,19235,Knob Creek Single Barrel Reserve,750,26.24,39.36,6,236.16,1.19,2015,9
11,2015-10-28,2600,OSKALOOSA,62.0,Mahaska,1071100.0,AMERICAN COCKTAILS,57148,Chi-Chi's Margarita W/tequila,1750,6.00,9.25,6,55.50,2.77,2015,10
12,2015-01-22,3858,DAVENPORT,82.0,Scott,1012100.0,CANADIAN WHISKIES,15248,Windsor Canadian Pet,1750,8.92,13.38,1,13.38,0.46,2015,1
13,2016-02-29,4673,WEST POINT,56.0,Lee,1081300.0,PEPPERMINT SCHNAPPS,75211,Kinky Liqueur,750,10.00,15.00,12,180.00,2.38,2016,2
14,2016-01-04,2670,CORALVILLE,52.0,Johnson,1031200.0,VODKA FLAVORED,41705,Uv Red (cherry) Vodka,1000,7.50,11.25,12,135.00,3.17,2016,1
15,2015-06-10,3717,SUMNER,9.0,Bremer,1051100.0,APRICOT BRANDIES,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,4,27.00,0.79,2015,6
16,2016-02-25,2130,WATERLOO,7.0,Black Hawk,1031100.0,100 PROOF VODKA,35913,Five O'clock Vodka,200,1.13,1.70,48,81.60,2.54,2016,2
17,2015-12-29,2600,OSKALOOSA,62.0,Mahaska,1031200.0,VODKA FLAVORED,41989,Uv Cake Vodka,750,6.50,9.75,12,117.00,2.38,2015,12
18,2015-12-26,4604,NEWTON,50.0,Jasper,1081700.0,DISTILLED SPIRITS SPECIALTY,75087,Juarez Gold Dss,1000,4.92,7.38,24,177.12,6.34,2015,12
19,2015-03-04,2614,DAVENPORT,82.0,Scott,1012100.0,CANADIAN WHISKIES,13638,Lord Calvert Canadian Whisky,1750,9.97,14.96,6,89.76,2.77,2015,3
20,2015-01-16,2590,CEDAR RAPIDS,57.0,Linn,1031200.0,VODKA FLAVORED,41474,44 North Huckleberry,750,14.25,21.38,2,42.76,0.40,2015,1
21,2015-01-13,3942,TOLEDO,86.0,Tama,1012100.0,CANADIAN WHISKIES,11786,Black Velvet Traveler,750,5.23,7.85,12,94.20,2.38,2015,1
22,2015-03-24,3981,SIOUX CENTER,84.0,Sioux,1011100.0,BLENDED WHISKIES,25606,Seagrams 7 Crown Bl Whiskey,750,7.00,10.50,12,126.00,2.38,2015,3
23,2015-11-12,4376,MASON CITY,17.0,Cerro Gordo,1022100.0,TEQUILA,89196,Jose Cuervo Especial Reposado Tequila,750,10.49,15.74,12,188.88,2.38,2015,11
24,2016-03-14,2618,CEDAR RAPIDS,57.0,Linn,1031080.0,VODKA 80 PROOF,35926,Five O'clock PET Vodka,750,3.37,5.06,12,60.72,2.38,2016,3
25,2015-02-03,3390,MILFORD,30.0,Dickinson,1011300.0,TENNESSEE WHISKIES,26827,Jack Daniels Old #7 Black Lbl,1000,17.90,26.85,24,644.40,6.34,2015,2
26,2015-11-23,3565,IOWA CITY,52.0,Johnson,1012100.0,CANADIAN WHISKIES,11290,Crown Royal Canadian Whisky Mini,300,7.35,11.03,1,11.03,0.08,2015,11
27,2015-04-21,3963,COUNCIL BLUFFS,78.0,Pottawattamie,1011100.0,BLENDED WHISKIES,24156,Hawkeye Blend Whiskey,750,3.50,5.25,3,15.75,0.59,2015,4
28,2015-12-01,4375,GRIMES,77.0,Polk,1031080.0,VODKA 80 PROOF,37338,UV Vodka PET,1750,10.99,16.49,6,98.94,2.77,2015,12
29,2015-01-14,2545,IOWA CITY,52.0,Johnson,1081600.0,WHISKEY LIQUEUR,66199,Piehole Apple Pie Mini,500,4.90,7.35,1,7.35,0.13,2015,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270925,2015-01-05,2837,WATERLOO,7.0,Black Hawk,1081200.0,CREAM LIQUEURS,68306,Emmets Irish Cream Liqueur,750,6.00,9.00,4,36.00,0.79,2015,1
270926,2015-12-26,2478,ALTOONA,77.0,Polk,1022100.0,TEQUILA,89646,Patron Anejo,750,31.00,46.50,6,279.00,1.19,2015,12
270927,2015-08-31,2633,DES MOINES,77.0,Polk,1031200.0,VODKA FLAVORED,77699,Smirnoff Orange,1000,9.25,13.88,12,166.56,3.17,2015,8
270928,2015-10-07,3896,IOWA CITY,52.0,Johnson,1031080.0,VODKA 80 PROOF,36904,Mccormick Vodka Pet,375,1.80,2.70,48,129.60,4.76,2015,10
270929,2016-01-25,5070,WILTON,70.0,Muscatine,1031080.0,VODKA 80 PROOF,37346,Phillips Vodka,750,3.57,5.36,4,21.44,0.79,2016,1
270930,2015-10-13,4634,CEDAR RAPIDS,57.0,Linn,1031080.0,VODKA 80 PROOF,35914,Five O'clock Vodka,375,1.93,2.90,12,34.80,1.19,2015,10
270931,2015-05-26,2602,WEBSTER CITY,40.0,Hamilton,1081900.0,MISC. AMERICAN CORDIALS & LIQUEURS,85526,Dekuyper Signature Blue Curacao,750,5.25,7.88,12,94.56,2.38,2015,5
270932,2015-06-18,4604,NEWTON,50.0,Jasper,1011300.0,TENNESSEE WHISKIES,26828,Jack Daniels Old #7 Black Lbl,1750,29.67,44.51,2,89.02,0.92,2015,6
270933,2015-02-26,4987,AMES,85.0,Story,1062310.0,SPICED RUM,43336,Captain Morgan Original Spiced,750,9.00,13.50,3,40.50,0.59,2015,2
270934,2015-03-18,2623,SIOUX CITY,97.0,Woodbury,1051110.0,BLACKBERRY BRANDIES,55068,Mr. Boston Blackberry Brandy,1750,10.00,15.00,2,30.00,0.92,2015,3
270935,2015-06-08,5126,DES MOINES,77.0,Polk,1011300.0,TENNESSEE WHISKIES,86670,Jack Daniel's Tennessee Honey,750,15.07,22.61,3,67.83,0.59,2015,6
270936,2015-03-31,2552,CEDAR RAPIDS,57.0,Linn,1022100.0,TEQUILA,89196,Jose Cuervo Especial Reposado Tequila,750,10.49,15.74,12,188.88,2.38,2015,3
270937,2015-01-27,2553,CRESTON,88.0,Union,1082900.0,MISC. IMPORTED CORDIALS & LIQUEURS,64676,Chambord Liqueur Royale De France,750,18.56,27.84,1,27.84,0.20,2015,1
270938,2015-04-29,3890,CEDAR RAPIDS,57.0,Linn,1031080.0,VODKA 80 PROOF,37994,Smirnoff Vodka 80 Prf,375,4.75,7.13,3,21.39,0.30,2015,4
270939,2015-05-04,4876,HIAWATHA,57.0,Linn,1031200.0,VODKA FLAVORED,42002,Uv Cake Vodka,500,4.89,7.34,6,44.04,0.79,2015,5
270940,2015-01-21,2523,CENTERVILLE,4.0,Appanoose,1012200.0,SCOTCH WHISKIES,4936,Famous Grouse Scotch,750,12.03,18.05,4,72.20,0.79,2015,1
270941,2015-02-09,4856,LISBON,57.0,Linn,1031080.0,VODKA 80 PROOF,35948,Fleischmann's Royal Vodka 80 Prf,1750,6.68,10.27,6,61.62,2.77,2015,2
270942,2015-06-15,2512,IOWA CITY,52.0,Johnson,1011100.0,BLENDED WHISKIES,24466,Kessler Blend Whiskey Traveler,750,5.51,8.27,12,99.24,2.38,2015,6
270943,2015-10-21,4438,AMES,85.0,Story,1011200.0,STRAIGHT BOURBON WHISKIES,19061,Jim Beam Mini,500,6.83,10.25,1,10.25,0.13,2015,10
270944,2016-03-22,2620,WINDSOR HEIGHTS,77.0,Polk,1081240.0,GREEN CREME DE MENTHE,79336,Paramount Creme De Menthe/green,750,4.75,7.13,2,14.26,0.40,2016,3
270945,2015-06-11,2627,DES MOINES,77.0,Polk,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,44215,Barton Light Rum,100,0.89,1.34,48,64.32,1.27,2015,6
270946,2015-11-24,5162,URBANDALE,77.0,Polk,1031080.0,VODKA 80 PROOF,38176,Titos Vodka,750,9.65,14.48,4,57.92,0.79,2015,11
270947,2015-05-12,4375,GRIMES,77.0,Polk,1062310.0,SPICED RUM,43334,Captain Morgan Spiced Rum,375,5.00,7.50,6,45.00,0.59,2015,5
270948,2015-04-08,2545,IOWA CITY,52.0,Johnson,1062300.0,FLAVORED RUM,43145,Bacardi Pineapple Fusion,750,8.50,12.75,3,38.25,0.59,2015,4
270949,2015-07-21,2529,CEDAR RAPIDS,57.0,Linn,1031100.0,100 PROOF VODKA,36887,McCormick Vodka,1000,4.13,6.20,3,18.60,0.79,2015,7
270950,2015-12-22,4057,DES MOINES,77.0,Polk,1022100.0,TEQUILA,88291,Patron Tequila Silver Mini,300,20.30,30.45,4,121.80,0.32,2015,12
270951,2015-11-04,5151,IDA GROVE,47.0,Ida,1011200.0,STRAIGHT BOURBON WHISKIES,17956,Evan Williams Str Bourbon,750,7.47,11.21,3,33.63,0.59,2015,11
270952,2015-10-20,5152,WATERLOO,7.0,Black Hawk,1011300.0,TENNESSEE WHISKIES,26826,Jack Daniels Old #7 Black Lbl,750,15.07,22.61,6,135.66,1.19,2015,10
270953,2015-11-20,3562,WEST BURLINGTON,29.0,Des Moines,1082900.0,MISC. IMPORTED CORDIALS & LIQUEURS,65258,Jagermeister Liqueur,1750,26.05,39.08,6,234.48,2.77,2015,11
270954,2015-01-27,4446,URBANDALE,77.0,Polk,1031080.0,VODKA 80 PROOF,37993,Smirnoff Vodka 80 Prf,200,2.75,4.13,8,33.04,0.42,2015,1

In [16]:
### print out the opening month for each store
### ps: code--nunique() from Kira
iowa_2015=iowa[iowa['year']==2015]
iowa_month= iowa_2015.groupby(['store_number','year'])['month'].nunique().reset_index()
iowa_month

      store_number  year  month
0             2106  2015     12
1             2113  2015     12
2             2130  2015     12
3             2152  2015     12
4             2178  2015     12
5             2190  2015     12
6             2191  2015     12
7             2200  2015     12
8             2205  2015     12
9             2228  2015     12
10            2233  2015     12
11            2238  2015     11
12            2248  2015     12
13            2285  2015     12
14            2290  2015     12
15            2327  2015     12
16            2353  2015     12
17            2367  2015      6
18            2413  2015     12
19            2445  2015     12
20            2448  2015     12
21            2459  2015     12
22            2460  2015     12
23            2465  2015     12
24            2475  2015     12
25            2478  2015     12
26            2487  2015     11
27            2498  2015     11
28            2500  2015     12
29            2501  2015     12
...            ...   ...    ...
1342          5180  2015      4
1343          5181  2015      2
1344          5182  2015      3
1345          5183  2015      3
1346          5185  2015      3
1347          5186  2015      1
1348          5187  2015      3
1349          5188  2015      2
1350          5189  2015      1
1351          5190  2015      3
1352          5191  2015      1
1353          5192  2015      1
1354          5193  2015      1
1355          5196  2015      2
1356          5198  2015      2
1357          5199  2015      2
1358          5201  2015      1
1359          5203  2015      1
1360          5204  2015      2
1361          5205  2015      1
1362          5206  2015      1
1363          5207  2015      1
1364          5212  2015      1
1365          5213  2015      1
1366          5215  2015      1
1367          9001  2015      8
1368          9002  2015     12
1369          9010  2015      8
1370          9013  2015      4
1371          9018  2015      1

[1372 rows x 3 columns]

We can find thoes problematic stores from the table above. However, this project does not focus on modeling or predicting, hence the problematic stores will not hurt the result. Moveover, these stores contribute to the aggregated profit, sales, volume and other variables as well. Hence, I'll keep all the stores for now. For the further analysis, it would be necessary to drop these observations to avoid bias.


## 5. Case 1 - Proposals for new tax rates 

---

You are an economist working for the Iowa State tax board. The Iowa State legislature is considering changes in the liquor tax rates and has assigned you to the project.

### 5.1 Calculate yearly liquor sales for each store in 2015.

In [17]:
### create a new dataframe for 2015
iowa_2015=iowa[iowa['year']==2015]

In [18]:
### groupby 2015 sales by store number
sales_2015=iowa_2015.groupby(['store_number']).sum()['sale_dollars'].reset_index()
print sales_2015

      store_number  sale_dollars
0             2106     146326.22
1             2113       9310.22
2             2130     111871.43
3             2152       7721.08
4             2178      24324.18
5             2190     121689.06
6             2191     125093.49
7             2200      22811.55
8             2205      24681.39
9             2228      17462.07
10            2233      29553.34
11            2238      11762.56
12            2248      67682.06
13            2285      76927.11
14            2290      56514.43
15            2327      10245.14
16            2353      54000.55
17            2367       5010.83
18            2413      90065.02
19            2445       7189.48
20            2448      17740.70
21            2459       7352.33
22            2460      33731.76
23            2465      25831.80
24            2475      10681.07
25            2478      19840.65
26            2487      28900.96
27            2498       2259.67
28            2500     149121.63
29            2501     144833.66
...            ...           ...
1342          5180       2239.44
1343          5181        963.04
1344          5182       2612.94
1345          5183        916.80
1346          5185       1077.39
1347          5186        298.86
1348          5187       4239.11
1349          5188       1887.73
1350          5189        604.20
1351          5190       1161.73
1352          5191        303.90
1353          5192         90.00
1354          5193        139.50
1355          5196        682.85
1356          5198       3985.06
1357          5199       2046.22
1358          5201        289.78
1359          5203        928.49
1360          5204        790.44
1361          5205         39.02
1362          5206        500.90
1363          5207       3197.95
1364          5212        504.54
1365          5213        180.00
1366          5215         56.03
1367          9001      28208.52
1368          9002      37700.52
1369          9010       5757.96
1370          9013       2217.48
1371          9018       6435.00

[1372 rows x 2 columns]

### 5.2 Calculate the profit each store is making in 2015.

In [19]:
### profit=(state bottle retail - state bottle cost)*bottle solds

iowa_2015['profit']=(iowa_2015['state_bottle_retail']-iowa_2015['state_bottle_cost'])*iowa_2015['bottles_sold']
print iowa_2015.profit

0          27.00
4          43.20
5          39.96
6           9.99
7          15.76
9           7.62
10         78.72
11         19.50
12          4.46
15          9.00
17         39.00
18         59.04
19         29.94
20         14.26
21         31.44
22         42.00
23         63.00
25        214.80
26          3.68
27          5.25
28         33.00
29          2.45
30          3.00
31         12.08
32         43.20
33         45.72
34          5.38
35         13.04
36         31.68
37         73.56
           ...
270923    135.00
270924      7.48
270925     12.00
270926     93.00
270927     55.56
270928     43.20
270930     11.64
270931     31.56
270932     29.68
270933     13.50
270934     10.00
270935     22.62
270936     63.00
270937      9.28
270938      7.14
270939     14.70
270940     24.08
270941     21.54
270942     33.12
270943      3.42
270945     21.60
270946     19.32
270947     15.00
270948     12.75
270949      6.21
270950     40.60
270951     11.22
270952     45.24
270953     78.18
270954     11.04
Name: profit, dtype: float64

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [20]:
### group "profit" by the stores and print out the result
profit_2015=iowa_2015.groupby(['store_number']).sum()['profit'].reset_index()
print profit_2015

      store_number    profit
0             2106  48838.08
1             2113   3109.04
2             2130  37325.20
3             2152   2587.53
4             2178   8165.70
5             2190  40617.73
6             2191  41744.39
7             2200   7653.47
8             2205   8244.13
9             2228   5844.34
10            2233   9866.66
11            2238   3922.65
12            2248  22584.51
13            2285  25721.01
14            2290  18882.37
15            2327   3417.67
16            2353  18186.81
17            2367   1670.97
18            2413  30102.82
19            2445   2399.19
20            2448   5924.51
21            2459   2459.08
22            2460  11330.58
23            2465   8629.82
24            2475   3562.92
25            2478   6615.42
26            2487   9703.57
27            2498    759.42
28            2500  49801.48
29            2501  48430.73
...            ...       ...
1342          5180    749.46
1343          5181    321.19
1344          5182    871.44
1345          5183    305.76
1346          5185    359.31
1347          5186     99.72
1348          5187   1415.31
1349          5188    629.52
1350          5189    201.42
1351          5190    387.42
1352          5191    101.34
1353          5192     30.00
1354          5193     46.53
1355          5196    227.70
1356          5198   1330.21
1357          5199    684.04
1358          5201     96.65
1359          5203    309.69
1360          5204    263.78
1361          5205     13.34
1362          5206    167.02
1363          5207   1067.69
1364          5212    168.28
1365          5213     60.00
1366          5215     18.68
1367          9001   9403.68
1368          9002  12574.08
1369          9010   1920.12
1370          9013    739.80
1371          9018   2145.00

[1372 rows x 2 columns]

### 5.3 Investigate which Iowa counties are making the most profit on liquor per gallon in 2015.

In [21]:
### group the profit by county, and sort the column in a descending sequence
profit_county_2015=iowa_2015.groupby(['County']).sum()['profit'].reset_index()
print profit_county_2015.sort(['profit'],ascending=False)

           County      profit
76           Polk  2139175.98
56           Linn   870999.67
81          Scott   682628.41
51        Johnson   574499.31
6      Black Hawk   529097.01
77  Pottawattamie   338436.55
96       Woodbury   334297.05
30        Dubuque   297710.63
84          Story   296680.57
16    Cerro Gordo   190844.15
24         Dallas   167768.04
29      Dickinson   130059.63
55            Lee   129089.59
28     Des Moines   129038.24
93        Webster   121122.56
22        Clinton   114632.03
69      Muscatine    97663.12
63       Marshall    92604.26
89        Wapello    91065.33
13        Carroll    90350.15
90         Warren    83859.45
62         Marion    65797.31
7           Boone    62335.92
54        Kossuth    61826.09
41         Hardin    59742.52
10    Buena Vista    58109.31
49         Jasper    56879.51
8          Bremer    56020.66
83          Sioux    52802.24
20           Clay    48676.55
..            ...         ...
34       Franklin    17691.22
42       Harrison    17659.17
15          Cedar    17601.25
45       Humboldt    16667.16
0           Adair    14620.89
64          Mills    13989.51
65       Mitchell    13685.77
18      Chickasaw    13004.08
58          Lucas    12295.25
75     Pocahontas    12198.75
38        Guthrie    10428.48
40        Hancock    10168.27
37         Grundy     9957.56
67         Monroe     9835.65
12        Calhoun     9552.88
97          Worth     8638.77
11         Butler     8543.11
57         Louisa     8461.91
71        Osceola     8180.40
88      Van Buren     5758.39
4         Audubon     5515.99
79       Ringgold     5182.61
26        Decatur     5164.69
53         Keokuk     4981.51
86         Taylor     3928.88
25          Davis     3730.56
92          Wayne     3688.75
1           Adams     3417.67
99         unkown     3087.60
35        Fremont      886.86

[100 rows x 2 columns]

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

### 5.4  Does profit scale proportionally to store size?

Size of a store can be defined as the total gallons sold in 2015. Is the profit to store size ratio increasing as store size increases? Decreasing? Consistent?

In [22]:
### group volume sold gallons by store number, check the top three stores
gallons_2015=iowa_2015.groupby(['store_number']).sum()['volume_sold_gallons'].reset_index()
gallons_2015.head()

   store_number  volume_sold_gallons
0          2106              2571.33
1          2113               174.29
2          2130              1820.65
3          2152               167.28
4          2178               506.50

In [23]:
### merge the two dataframes together
profit_gallons=pd.merge(profit_2015,gallons_2015,on=['store_number'],how='right')
profit_gallons.head()

   store_number    profit  volume_sold_gallons
0          2106  48838.08              2571.33
1          2113   3109.04               174.29
2          2130  37325.20              1820.65
3          2152   2587.53               167.28
4          2178   8165.70               506.50

In [24]:
### profit per volume_sold_gallons
profit_gallons['ratio']=profit_gallons['profit']/profit_gallons['volume_sold_gallons']
profit_gallons

      store_number    profit  volume_sold_gallons      ratio
0             2106  48838.08              2571.33  18.993315
1             2113   3109.04               174.29  17.838315
2             2130  37325.20              1820.65  20.501030
3             2152   2587.53               167.28  15.468257
4             2178   8165.70               506.50  16.121816
5             2190  40617.73              1671.50  24.300168
6             2191  41744.39              2127.56  19.620782
7             2200   7653.47               480.01  15.944397
8             2205   8244.13               411.31  20.043592
9             2228   5844.34               361.37  16.172732
10            2233   9866.66               655.36  15.055328
11            2238   3922.65               186.52  21.030721
12            2248  22584.51               743.70  30.367769
13            2285  25721.01              1020.06  25.215193
14            2290  18882.37               957.84  19.713491
15            2327   3417.67               216.98  15.751083
16            2353  18186.81              1190.24  15.279952
17            2367   1670.97                91.54  18.253987
18            2413  30102.82              1654.12  18.198692
19            2445   2399.19               151.18  15.869758
20            2448   5924.51               329.00  18.007629
21            2459   2459.08               160.30  15.340487
22            2460  11330.58               734.87  15.418482
23            2465   8629.82               452.66  19.064684
24            2475   3562.92               275.88  12.914746
25            2478   6615.42               274.30  24.117463
26            2487   9703.57               673.07  14.416881
27            2498    759.42                60.75  12.500741
28            2500  49801.48              2652.58  18.774733
29            2501  48430.73              2631.00  18.407727
...            ...       ...                  ...        ...
1342          5180    749.46                46.29  16.190538
1343          5181    321.19                17.26  18.608922
1344          5182    871.44                43.55  20.010103
1345          5183    305.76                16.34  18.712362
1346          5185    359.31                19.26  18.655763
1347          5186     99.72                 4.36  22.871560
1348          5187   1415.31                57.79  24.490569
1349          5188    629.52                25.46  24.725844
1350          5189    201.42                10.30  19.555340
1351          5190    387.42                18.40  21.055435
1352          5191    101.34                 5.14  19.715953
1353          5192     30.00                 1.19  25.210084
1354          5193     46.53                 2.37  19.632911
1355          5196    227.70                10.03  22.701894
1356          5198   1330.21                52.96  25.117258
1357          5199    684.04                39.31  17.401170
1358          5201     96.65                 2.28  42.390351
1359          5203    309.69                20.99  14.754169
1360          5204    263.78                15.10  17.468874
1361          5205     13.34                 0.93  14.344086
1362          5206    167.02                 6.97  23.962697
1363          5207   1067.69                35.69  29.915663
1364          5212    168.28                 9.71  17.330587
1365          5213     60.00                 2.54  23.622047
1366          5215     18.68                 0.48  38.916667
1367          9001   9403.68               168.83  55.699106
1368          9002  12574.08               328.17  38.315751
1369          9010   1920.12                56.17  34.184084
1370          9013    739.80                45.18  16.374502
1371          9018   2145.00                59.44  36.086810

[1372 rows x 4 columns]

In [25]:
### dateframe.corr() code will give us all the correlation coefficients in the dataframe
profit_gallons.corr()

                     store_number    profit  volume_sold_gallons     ratio
store_number             1.000000 -0.346897            -0.383738  0.185306
profit                  -0.346897  1.000000             0.992497  0.059596
volume_sold_gallons     -0.383738  0.992497             1.000000  0.015745
ratio                    0.185306  0.059596             0.015745  1.000000

The correlation table above shows a high correlation (about 0.99) between profit and volume_sold_gallons.

### 5.5 Create a broader category for liquor type.

Liquor types are pretty granular in this dataset. Create a column that categorizes these types into a smaller amount of categories. The categories you decide on are up to you.

In [26]:
print iowa_2015['category_name']

0                           APRICOT BRANDIES
4                             VODKA 80 PROOF
5                          AMERICAN DRY GINS
6                    AMERICAN GRAPE BRANDIES
7                          CANADIAN WHISKIES
9                          CINNAMON SCHNAPPS
10            SINGLE BARREL BOURBON WHISKIES
11                        AMERICAN COCKTAILS
12                         CANADIAN WHISKIES
15                          APRICOT BRANDIES
17                            VODKA FLAVORED
18               DISTILLED SPIRITS SPECIALTY
19                         CANADIAN WHISKIES
20                            VODKA FLAVORED
21                         CANADIAN WHISKIES
22                          BLENDED WHISKIES
23                                   TEQUILA
25                        TENNESSEE WHISKIES
26                         CANADIAN WHISKIES
27                          BLENDED WHISKIES
28                            VODKA 80 PROOF
29                           WHISKEY LIQUEUR
30                         AMERICAN DRY GINS
31        MISC. AMERICAN CORDIALS & LIQUEURS
32                            VODKA 80 PROOF
33                            APPLE SCHNAPPS
34                           CHERRY BRANDIES
35        MISC. IMPORTED CORDIALS & LIQUEURS
36                        AMERICAN COCKTAILS
37                         IMPORTED DRY GINS
                         ...
270923                        IMPORTED VODKA
270924    MISC. AMERICAN CORDIALS & LIQUEURS
270925                        CREAM LIQUEURS
270926                               TEQUILA
270927                        VODKA FLAVORED
270928                        VODKA 80 PROOF
270930                        VODKA 80 PROOF
270931    MISC. AMERICAN CORDIALS & LIQUEURS
270932                    TENNESSEE WHISKIES
270933                            SPICED RUM
270934                   BLACKBERRY BRANDIES
270935                    TENNESSEE WHISKIES
270936                               TEQUILA
270937    MISC. IMPORTED CORDIALS & LIQUEURS
270938                        VODKA 80 PROOF
270939                        VODKA FLAVORED
270940                       SCOTCH WHISKIES
270941                        VODKA 80 PROOF
270942                      BLENDED WHISKIES
270943             STRAIGHT BOURBON WHISKIES
270945      PUERTO RICO & VIRGIN ISLANDS RUM
270946                        VODKA 80 PROOF
270947                            SPICED RUM
270948                          FLAVORED RUM
270949                       100 PROOF VODKA
270950                               TEQUILA
270951             STRAIGHT BOURBON WHISKIES
270952                    TENNESSEE WHISKIES
270953    MISC. IMPORTED CORDIALS & LIQUEURS
270954                        VODKA 80 PROOF
Name: category_name, dtype: object

In [27]:
### Received the code from Shiv. Tracking the observation contains a certain string, and re-categorize in a broader category
### For instance, VODKA 80 PROOF and 1OO PROOF  VODKA are just VODKA
### Count the liquor type
iowa_2015['liquor_type'] = np.where(iowa_2015['category_name'].str.contains('BRANDIES') , "BRANDY",
          np.where(iowa_2015['category_name'].str.contains('WHISKIES'), "WHISKY",
          np.where(iowa_2015['category_name'].str.contains('VODKA'), "VODKA",
          np.where(iowa_2015['category_name'].str.contains('SCOTCH'), "SCOTCH",
          np.where(iowa_2015['category_name'].str.contains('GINS'), "GIN",
          np.where(iowa_2015['category_name'].str.contains('SCHNAPPS'), "SCHNAPPS",
          np.where(iowa_2015['category_name'].str.contains('RUM'), "RUM", "OTHER" )))))))
iowa_2015.groupby(['liquor_type']).count()['Category'].reset_index()

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

  liquor_type  Category
0      BRANDY     12125
1         GIN      8147
2       OTHER     44832
3         RUM     26544
4    SCHNAPPS     10768
5      SCOTCH      2652
6       VODKA     56550
7      WHISKY     56976

### 5.6 Do relationships exist between the broader liquor type and profit?

In [28]:
### group profit by liquor type and sort it by profit (descending). 
iowa_2015.groupby(['liquor_type'], sort=True)[['profit']].sum().sort_values(by=['profit'], ascending=False).reset_index()

  liquor_type      profit
0      WHISKY  2885334.03
1       VODKA  2278921.68
2       OTHER  2017341.72
3         RUM  1260944.29
4      BRANDY   397357.70
5    SCHNAPPS   320669.93
6         GIN   256381.93
7      SCOTCH   123208.10

By checking the profit of liquor type, we got the result that Whisky was the best-selling liquor in 2015.


### 5.7 Are there any noticeable relationships between liquor brand and sales? Profit?

In [29]:
### calculate the profit in 2015 and 2016
iowa['profit_overall']=(iowa['state_bottle_retail']-iowa['state_bottle_cost'])*iowa['bottles_sold']

In [30]:
### group the sales and overall profit by item description, seperately
brand_sales=iowa.groupby(['item_description']).sum()['sale_dollars'].reset_index()
brand_profit=iowa.groupby(['item_description']).sum()['profit_overall'].reset_index()

In [31]:
### merge the two dataframes
brand_sales_profit=pd.merge(brand_sales,brand_profit,on=['item_description'],how='right')

In [32]:
### sort it by sales and print out the top five
brand_sales.sort(['sale_dollars'],ascending=False).head(5)

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                   item_description  sale_dollars
271                    Black Velvet    1568105.84
1059  Jack Daniels Old #7 Black Lbl    1190032.66
433       Captain Morgan Spiced Rum    1165174.56
804       Fireball Cinnamon Whiskey     914368.53
567     Crown Royal Canadian Whisky     807898.16

In [33]:
### sort it by profit, print out the top five
brand_sales_profit.sort(['profit_overall'],ascending=False).head(5)

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                   item_description  sale_dollars  profit_overall
271                    Black Velvet    1568105.84       536032.60
1059  Jack Daniels Old #7 Black Lbl    1190032.66       396756.34
433       Captain Morgan Spiced Rum    1165174.56       388531.06
804       Fireball Cinnamon Whiskey     914368.53       304842.09
567     Crown Royal Canadian Whisky     807898.16       269355.66

We can see, the two tables above give us the same liquor ranking. This is becasue sales and profit are highly correlated. To prove this assumption, I did the correlation table below.

In [34]:
brand_sales_profit.corr()

                sale_dollars  profit_overall
sale_dollars        1.000000        0.999946
profit_overall      0.999946        1.000000

### 5.8 The tax board wants to design a tax or taxes that affect larger stores more than smaller "mom and pop" stores.

Based on your investigations into the data, come up with a way you could design a tax that achieves this goal **without explicitly taxing stores based on size or county critera.** The liqour board does not want to obviously punish larger stores or speific counties for fear of backlash, but is willing to tax hard alcohol more than beer, for example.

Feel free to do more EDA if it helps.

Your report should describe whether such a tax is possible or not, and the specifics of what the tax will target/do.

In [35]:
### group profit and sales by liquor type, sort it by profit
iowa_2015.groupby(['liquor_type'], sort=True)[['profit','volume_sold_gallons']].sum().sort_values(by=['profit'],ascending=False).reset_index()

  liquor_type      profit  volume_sold_gallons
0      WHISKY  2885334.03            143180.53
1       VODKA  2278921.68            158931.58
2       OTHER  2017341.72             97622.34
3         RUM  1260944.29             71720.11
4      BRANDY   397357.70             16144.88
5    SCHNAPPS   320669.93             19460.38
6         GIN   256381.93             15163.78
7      SCOTCH   123208.10              2576.96

In [36]:
### group profit and sales by liquor type, sort it by sale_dollars
iowa_2015.groupby(['liquor_type'], sort=True)[['profit','volume_sold_gallons']].sum().sort_values(by=['volume_sold_gallons'],ascending=False).reset_index()

  liquor_type      profit  volume_sold_gallons
0       VODKA  2278921.68            158931.58
1      WHISKY  2885334.03            143180.53
2       OTHER  2017341.72             97622.34
3         RUM  1260944.29             71720.11
4    SCHNAPPS   320669.93             19460.38
5      BRANDY   397357.70             16144.88
6         GIN   256381.93             15163.78
7      SCOTCH   123208.10              2576.96

In [37]:
iowa_2015['liquor_ratio']=iowa_2015['profit']/iowa_2015['volume_sold_gallons']

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [38]:
iowa_2015.groupby(['liquor_type'], sort=True)[['liquor_ratio']].sum().sort_values(by=['liquor_ratio'],ascending=False).reset_index()

  liquor_type  liquor_ratio
0      WHISKY  1.443286e+06
1       OTHER  1.178237e+06
2       VODKA  1.030020e+06
3         RUM  4.925967e+05
4      BRANDY  3.324695e+05
5    SCHNAPPS  1.910920e+05
6      SCOTCH  1.538807e+05
7         GIN  1.504268e+05

From the table above, we can see that Scotch and Gin are at the bottom of the liquor ratio. In general, smaller stores make their investments based on sales volume. To keep the business running, they would prefer to choose invest more on the high-sales products than the high-profit ones. For big-size stores, their priority is maxmizing the profit, most of them are able to afford a variety of all liquors. In this case, I would suggest that to tax a higher rate on the liquors-- Scotch and Gin. Hence, most of the smaller stores would not get hurt by such tax policy.


## 6. Case 2 = Market research for new store locations 

A liquor store owner in Iowa is looking to open a store in a new location and has hired you as a consultant to investigate the market data for potential new locations. The business owner is interested in what you can discover from the data that will help him evaluate a good location for a new storefront.

---

### 6.1 Create columns for Q1 2015 sales and Q1 2016 sales.

The owner is not just interested in what locations are currently selling well, but also which areas are showing the most promising sales growth from 2015 to 2016. 

For yearly changes we will focus on the changes from Q1 2015 to Q1 2016 specifically (avoiding effects of season changes).

Note: Q1 is months: January, February, and March.

In [39]:
### create two new dataframes -- 2015Q1 and 2016Q1, and then group the sales by County for each dataframe
iowa_2015_q1=iowa_2015[iowa_2015['month']<4]

In [40]:
county_sales_2015=iowa_2015_q1.groupby(['County']).sum()['sale_dollars'].reset_index()
county_sales_2015

           County  sale_dollars
0           Adair      10222.00
1           Adams       2253.60
2       Allamakee      14907.98
3       Appanoose      15228.09
4         Audubon       5510.75
5          Benton      14862.27
6      Black Hawk     340867.08
7           Boone      46205.87
8          Bremer      40816.54
9        Buchanan      29918.32
10    Buena Vista      41541.54
11         Butler       4694.47
12        Calhoun       5323.69
13        Carroll      57907.35
14           Cass      20777.44
15          Cedar       9921.67
16    Cerro Gordo     111299.13
17       Cherokee      15263.39
18      Chickasaw      11081.11
19         Clarke      11410.25
20           Clay      31184.16
21        Clayton      17812.85
22        Clinton      74724.10
23       Crawford      21061.60
24         Dallas     104911.32
25          Davis       2160.07
26        Decatur       3115.87
27       Delaware      16399.38
28     Des Moines      94893.04
29      Dickinson      71722.06
..            ...           ...
70        O'Brien      26641.15
71        Osceola       7223.68
72           Page      28070.68
73      Palo Alto      15121.30
74       Plymouth      30153.73
75     Pocahontas      14173.28
76           Polk    1340375.51
77  Pottawattamie     232750.24
78      Poweshiek      31205.01
79       Ringgold       2152.65
80            Sac      10526.65
81          Scott     418415.27
82         Shelby      18156.85
83          Sioux      29256.00
84          Story     203131.69
85           Tama      12962.92
86         Taylor       3349.65
87          Union      20605.66
88      Van Buren       4704.75
89        Wapello      54317.59
90         Warren      64461.21
91     Washington      28469.29
92          Wayne       2411.21
93        Webster      77404.05
94      Winnebago      15832.01
95     Winneshiek      26064.19
96       Woodbury     230760.16
97          Worth       6046.25
98         Wright      13508.77
99         unkown       2326.95

[100 rows x 2 columns]

In [41]:
iowa_2016=iowa[iowa['year']==2016]
iowa_2016_q1=iowa_2016[iowa_2016['month']<4]
county_sales_2016=iowa_2016_q1.groupby(['County']).sum()['sale_dollars'].reset_index()

In [42]:
county_sales_2016

           County  sale_dollars
0           Adair      11834.16
1           Adams       2196.57
2       Allamakee      19106.29
3       Appanoose      21493.52
4         Audubon       3226.28
5          Benton      14729.42
6      Black Hawk     353707.78
7           Boone      37744.56
8          Bremer      37546.82
9        Buchanan      23329.81
10    Buena Vista      40757.13
11         Butler       8583.26
12        Calhoun       7415.91
13        Carroll      38227.43
14           Cass      28105.27
15          Cedar      19886.09
16    Cerro Gordo     126037.11
17       Cherokee      15362.56
18      Chickasaw       5590.89
19         Clarke      11165.10
20           Clay      31632.07
21        Clayton      15595.24
22        Clinton      78402.62
23       Crawford      37830.13
24         Dallas     125159.91
25          Davis       2044.70
26        Decatur       4375.82
27       Delaware      22237.55
28     Des Moines      82461.15
29      Dickinson      63966.34
..            ...           ...
70        O'Brien      20861.67
71        Osceola       5900.93
72           Page      19317.35
73      Palo Alto      15644.06
74       Plymouth      33572.25
75     Pocahontas       8622.08
76           Polk    1383147.02
77  Pottawattamie     267327.82
78      Poweshiek      27581.36
79       Ringgold       2775.32
80            Sac      10081.17
81          Scott     424554.73
82         Shelby       9261.05
83          Sioux      38970.03
84          Story     188038.23
85           Tama      17780.90
86         Taylor       3215.20
87          Union      24120.43
88      Van Buren       4326.36
89        Wapello      58391.20
90         Warren      58992.17
91     Washington      29632.76
92          Wayne       1911.54
93        Webster      83923.98
94      Winnebago      18427.16
95     Winneshiek      30089.30
96       Woodbury     252574.99
97          Worth      11807.91
98         Wright      12859.66
99         unkown     107626.66

[100 rows x 2 columns]

To compare the sales in 2015 Q1 and 2016 Q1, I merged 2015 Q1 and 2016 Q1 based on County

In [43]:
### rename the columns
county_sales_2015.rename(columns={
   "sale_dollars":"sale_dollars_2015q1"
   },inplace=True)

In [44]:
county_sales_2016.rename(columns={
   "sale_dollars":"sale_dollars_2016q1"
   },inplace=True)

In [45]:
iowa_1516_q1=pd.merge(county_sales_2015,county_sales_2016,on=['County'],how='right')
iowa_1516_q1

           County  sale_dollars_2015q1  sale_dollars_2016q1
0           Adair             10222.00             11834.16
1           Adams              2253.60              2196.57
2       Allamakee             14907.98             19106.29
3       Appanoose             15228.09             21493.52
4         Audubon              5510.75              3226.28
5          Benton             14862.27             14729.42
6      Black Hawk            340867.08            353707.78
7           Boone             46205.87             37744.56
8          Bremer             40816.54             37546.82
9        Buchanan             29918.32             23329.81
10    Buena Vista             41541.54             40757.13
11         Butler              4694.47              8583.26
12        Calhoun              5323.69              7415.91
13        Carroll             57907.35             38227.43
14           Cass             20777.44             28105.27
15          Cedar              9921.67             19886.09
16    Cerro Gordo            111299.13            126037.11
17       Cherokee             15263.39             15362.56
18      Chickasaw             11081.11              5590.89
19         Clarke             11410.25             11165.10
20           Clay             31184.16             31632.07
21        Clayton             17812.85             15595.24
22        Clinton             74724.10             78402.62
23       Crawford             21061.60             37830.13
24         Dallas            104911.32            125159.91
25          Davis              2160.07              2044.70
26        Decatur              3115.87              4375.82
27       Delaware             16399.38             22237.55
28     Des Moines             94893.04             82461.15
29      Dickinson             71722.06             63966.34
..            ...                  ...                  ...
70        O'Brien             26641.15             20861.67
71        Osceola              7223.68              5900.93
72           Page             28070.68             19317.35
73      Palo Alto             15121.30             15644.06
74       Plymouth             30153.73             33572.25
75     Pocahontas             14173.28              8622.08
76           Polk           1340375.51           1383147.02
77  Pottawattamie            232750.24            267327.82
78      Poweshiek             31205.01             27581.36
79       Ringgold              2152.65              2775.32
80            Sac             10526.65             10081.17
81          Scott            418415.27            424554.73
82         Shelby             18156.85              9261.05
83          Sioux             29256.00             38970.03
84          Story            203131.69            188038.23
85           Tama             12962.92             17780.90
86         Taylor              3349.65              3215.20
87          Union             20605.66             24120.43
88      Van Buren              4704.75              4326.36
89        Wapello             54317.59             58391.20
90         Warren             64461.21             58992.17
91     Washington             28469.29             29632.76
92          Wayne              2411.21              1911.54
93        Webster             77404.05             83923.98
94      Winnebago             15832.01             18427.16
95     Winneshiek             26064.19             30089.30
96       Woodbury            230760.16            252574.99
97          Worth              6046.25             11807.91
98         Wright             13508.77             12859.66
99         unkown              2326.95            107626.66

[100 rows x 3 columns]

### 6.2 Decide on a metric for performance that combines Q1 2016 sales as well as growth in sales from Q1 2015.

Again, the owner wants to know that his store will be in a good position to sell a large amount of liquor now, but also have his store be more likely to grow and sell even more going forward. 

In particular, he is worried about opening a store in an area that is showing a decline in liquor sales between Q1 2015 and Q1 2016.

In [46]:
### calcualte the growth rate: sale_dollars in 2015Q1 - sale_dollars in 2016Q1 
iowa_1516_q1['sale_growth']=(iowa_1516_q1['sale_dollars_2016q1'] - iowa_1516_q1['sale_dollars_2015q1'])/(iowa_1516_q1['sale_dollars_2015q1'])

In [47]:
iowa_1516_q1

           County  sale_dollars_2015q1  sale_dollars_2016q1  sale_growth
0           Adair             10222.00             11834.16     0.157715
1           Adams              2253.60              2196.57    -0.025306
2       Allamakee             14907.98             19106.29     0.281615
3       Appanoose             15228.09             21493.52     0.411439
4         Audubon              5510.75              3226.28    -0.414548
5          Benton             14862.27             14729.42    -0.008939
6      Black Hawk            340867.08            353707.78     0.037671
7           Boone             46205.87             37744.56    -0.183122
8          Bremer             40816.54             37546.82    -0.080108
9        Buchanan             29918.32             23329.81    -0.220217
10    Buena Vista             41541.54             40757.13    -0.018883
11         Butler              4694.47              8583.26     0.828377
12        Calhoun              5323.69              7415.91     0.393002
13        Carroll             57907.35             38227.43    -0.339852
14           Cass             20777.44             28105.27     0.352682
15          Cedar              9921.67             19886.09     1.004309
16    Cerro Gordo            111299.13            126037.11     0.132418
17       Cherokee             15263.39             15362.56     0.006497
18      Chickasaw             11081.11              5590.89    -0.495458
19         Clarke             11410.25             11165.10    -0.021485
20           Clay             31184.16             31632.07     0.014363
21        Clayton             17812.85             15595.24    -0.124495
22        Clinton             74724.10             78402.62     0.049228
23       Crawford             21061.60             37830.13     0.796166
24         Dallas            104911.32            125159.91     0.193007
25          Davis              2160.07              2044.70    -0.053410
26        Decatur              3115.87              4375.82     0.404365
27       Delaware             16399.38             22237.55     0.355999
28     Des Moines             94893.04             82461.15    -0.131010
29      Dickinson             71722.06             63966.34    -0.108136
..            ...                  ...                  ...          ...
70        O'Brien             26641.15             20861.67    -0.216938
71        Osceola              7223.68              5900.93    -0.183113
72           Page             28070.68             19317.35    -0.311832
73      Palo Alto             15121.30             15644.06     0.034571
74       Plymouth             30153.73             33572.25     0.113370
75     Pocahontas             14173.28              8622.08    -0.391667
76           Polk           1340375.51           1383147.02     0.031910
77  Pottawattamie            232750.24            267327.82     0.148561
78      Poweshiek             31205.01             27581.36    -0.116124
79       Ringgold              2152.65              2775.32     0.289257
80            Sac             10526.65             10081.17    -0.042319
81          Scott            418415.27            424554.73     0.014673
82         Shelby             18156.85              9261.05    -0.489942
83          Sioux             29256.00             38970.03     0.332035
84          Story            203131.69            188038.23    -0.074304
85           Tama             12962.92             17780.90     0.371674
86         Taylor              3349.65              3215.20    -0.040139
87          Union             20605.66             24120.43     0.170573
88      Van Buren              4704.75              4326.36    -0.080427
89        Wapello             54317.59             58391.20     0.074996
90         Warren             64461.21             58992.17    -0.084842
91     Washington             28469.29             29632.76     0.040868
92          Wayne              2411.21              1911.54    -0.207228
93        Webster             77404.05             83923.98     0.084232
94      Winnebago             15832.01             18427.16     0.163918
95     Winneshiek             26064.19             30089.30     0.154431
96       Woodbury            230760.16            252574.99     0.094535
97          Worth              6046.25             11807.91     0.952931
98         Wright             13508.77             12859.66    -0.048051
99         unkown              2326.95            107626.66    45.252244

[100 rows x 4 columns]

### 6.3 Recommend a location based on your metric.

The owner asks you to make a recommendation for a new store location. Explain why you recommended this area.

In [48]:
### sort the data by sales in 2015Q1, decending, print out the top 3
iowa_1516_q1.sort(['sale_dollars_2015q1'],ascending=False).head(3)

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

   County  sale_dollars_2015q1  sale_dollars_2016q1  sale_growth
76   Polk           1340375.51           1383147.02     0.031910
56   Linn            574464.38            544102.21    -0.052853
81  Scott            418415.27            424554.73     0.014673

In [49]:
### sort the data by sales in 2016Q1, decending, print out the top 3
iowa_1516_q1.sort(['sale_dollars_2016q1'],ascending=False).head(3)

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

   County  sale_dollars_2015q1  sale_dollars_2016q1  sale_growth
76   Polk           1340375.51           1383147.02     0.031910
56   Linn            574464.38            544102.21    -0.052853
81  Scott            418415.27            424554.73     0.014673

In [50]:
### sort the data by growth rate, decending, print out the top 5
iowa_1516_q1.sort(['sale_growth'],ascending=False).head(5)

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

     County  sale_dollars_2015q1  sale_dollars_2016q1  sale_growth
99   unkown              2326.95            107626.66    45.252244
15    Cedar              9921.67             19886.09     1.004309
97    Worth              6046.25             11807.91     0.952931
32  Fayette             20536.94             37743.63     0.837841
11   Butler              4694.47              8583.26     0.828377

To sum up, according to the Sales (Dollar) in 2015 Q1 and 2016Q1, the county "Polk" was the highest. However, for the known counties, Cedar has the highest growth rate.

### 6.4 Recommend a location based also on a restricted inventory type.

Your employer has now decided he wants his store to focus on one type of liquor only. He askes you:

1. What would be the best type of liquor to sell to maximize profit?
2. Should the recommended location change if he is only selling one type of liquor?

In [51]:
### group sale_dollars by item description
type_sale=iowa.groupby(['item_description','County']).sum()['sale_dollars'].reset_index()

In [52]:
### print out the top 5 counties in sale_dollars
type_sale.sort(['sale_dollars'],ascending=False).head(5)

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                    item_description County  sale_dollars
16626      Fireball Cinnamon Whiskey   Polk     276239.53
8618       Captain Morgan Spiced Rum   Polk     245848.87
21061  Jack Daniels Old #7 Black Lbl   Polk     226133.09
4825                    Black Velvet   Polk     188842.40
11259    Crown Royal Canadian Whisky   Polk     185451.10

In [53]:
### calculate the net profit for the year 2015 and 2016
iowa['net_profit']=(iowa['state_bottle_retail']-iowa['state_bottle_cost'])*iowa['bottles_sold']
type_profit=iowa.groupby(['item_description','County']).sum()['net_profit'].reset_index()

In [54]:
### print out the top 5 liquors by sorting net profit
type_profit.sort(['net_profit'],ascending=False).head(5)

/Applications/Utilities/anaconda/envs/econ/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                    item_description County  net_profit
16626      Fireball Cinnamon Whiskey   Polk    92102.70
8618       Captain Morgan Spiced Rum   Polk    81983.12
21061  Jack Daniels Old #7 Black Lbl   Polk    75392.82
4825                    Black Velvet   Polk    64174.92
11259    Crown Royal Canadian Whisky   Polk    61827.64

I've selected the top five liquors based on sales and net profit, separately. Two tables gave us the same result due to the high correlation between sales and net profit. I've found that Fireball Cinnamon Whiskey is the most popular liquor in Polk. Plus, the other saleable liquors all come from the same county--Polk. The reason of this scenario is that Polk has the highest sales and highest profit among the other counties. Recall the result from question 5, we've got that Whiskey is the most popular liquor, compared with the other liquors. The most popular liquor would vary from county to county. However, the probability of getting the result that Whiskey is the best-selling liquor is very high, and we need to do more research on the specific type of Whiskey.